.nav {
  display: block;
  /* text-align: center; */
  text-decoration: none;
  width: 100vw;
  position: fixed;
  top: 0;
  height: 10vh;
  z-index: 100;
}
.nav-logo {
  color: black;
  /* font-weight: bold;
  font-size: large; */
  float: left;
  border: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 1em;
  margin-top: 2vh;
  margin-bottom: 1vh;
  cursor: pointer;
}
.nav-btn {
  /* font-weight: bold;
  font-size: large; */
  display: block;
  width: auto;
  border: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 1em;
  margin-top: 2vh;
  margin-bottom: 1vh;
  cursor: pointer;
}

.nav-btn-container {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5em;
  margin-right: 2em;
}

.nav-logo-container {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5em;
  margin-right: 2em;
}
