.landing {
  width: 100vw;
  height: 65vh;
  /* background-color: grey; */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../../images/softwareEngineer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.l-title {
  font-size: 300%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20vh;
  text-align: center;
}

.l-sub-title {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: -5%;
  margin-bottom: 10vh;
}

@media (min-width: 1000px) {
  .landing {
    width: 100vw;
    height: 65vh;
    /* background-color: radial-gradient(circle at top right, #f9aa33, #4a6572); */
    background-image: url("../../images/softwareEngineer.jpg"),
      radial-gradient(circle at top right, #f9aa33 50%, #4a6572 50%);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: left;
  }

  .l-title {
    margin-top: 20%;
    margin-left: 55%;
    margin-right: 15%;
    margin-bottom: 0;
    text-align: left;
    clear: both;
  }

  .l-sub-title {
    margin-left: 60%;
    margin-right: 15%;
    text-align: left;
    float: left;
    margin-top: 0;
  }
}
